.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://media.rainpos.com/5100/AdobeStock_446184316.jpeg");
  background-size: cover;
    background-color: #a9cecf;
  }
  .form{
    position: sticky;
    background-color: #c4f4e6;
    width: 460px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -40px;
    padding: 40px;
    border: 20px solid #222223; /* Border color set to #284966 */
    border-radius: 20px; 
  }
  .loginTitle {
    font-size: 50px;
  }
 /* .form{
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ), url("laptop.png");
 } */
  .loginForm {
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color:black;
    font-size: 25px;
    
    
  }
  
  .loginForm > label {
    margin: 10px 0;

  }
  
  .loginInput {
    
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }
  
  
  